:root {
  --azul: #2d394b;
  --amarillo: #ffd630;
  --azulH3p: #1f3f79;
  --amarillo-barra:#FFD630;
  --footer:#222429;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.ancho {
  max-width: 1200px;
  margin: auto;
}
/*La barra de color azul*/
.barra_header {
  background-color: var(--azul);
  height: 30px;
  border: none;
}

/*Informaci贸n de contacto y logos de Twitter Facebook Instagram*/
.logo_redes {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo_redes div {
  display: flex;
  flex-direction: row;
}
.logo_redes div div {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_redes .icono-tel {
  color: var(--amarillo);
}
.logo_redes .icono-email {
  color: var(--amarillo);
}
.logo_redes .icono-time {
  color: var(--amarillo);
}

.logo_redes .redes {
  width: 280px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
}
.logo_redes .redes .iconos {
  font-size: 30px;
  color: #333;
}
.logo_redes .redes .iconos:hover {
  font-size: 30px;
  color: var(--amarillo);
}

/*Menu responsivo*/
#iconomenu {
  color: var(--azul);
  padding: var(--margen);
  display: none;
}
#visible {
  display: none;
}
nav ul {
  list-style: none;
  border: 1px silver solid;
  box-shadow: 0px 5px 5px #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contenedormenu a {
  padding: 10px 20px;
  border: 2px var(--azul) solid;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: var(--azul);
  transition: all 0.5s;
}
.contenedormenu a:hover {
  color: var(--amarillo);
}

.logonovisble {
  width: 200px;
}
.contenedorlogovisble {
  background-color: var(--amarillo);
}
.logovisible {
  width: 100%;
  height: 100%;
}

/*Section1-slider*/
.section1-slider {
  padding-top: 20px;
}

/*Section2-video*/
#contenedoryoutube {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

#contenedoryoutube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Section3 Grid*/
.contenedor-puestos {
  padding-top: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "aromatizante informacion-puestos";
}
.contenedor-puestos h3 {
  margin-bottom: 20px;
  margin-left: 100px;
  color: var(--azulH3p);
  font-size: 50px;
  font-family: Georgia;
}
.contenedor-puestos p {
  color: gray;
  margin-bottom: 20px;
  margin-left: 100px;
  font-family: Georgia;
}
.contenedor-puestos div h2 {
  color: var(--azulH3p);
}
.contenedor-puestos div .check {
  color: var(--amarillo);
}
.informacion-puestos div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin-left: 100px;
  width: 600px;
  height: 65px;
  box-shadow: 5px 5px 5px #ccc;
  gap: 10px;
}
.informacion-puestos {
  grid-area: informacion-puestos;
}
.aromatizante {
  grid-area: aromatizante;
}
.contenedor-puestos .aromatizante figure {
  filter: sepia(100%);
  transition: all 0.5s;
  /*Se aplica efecto transition*/
  clip-path: polygon(10% 0, 100% 0%, 91% 100%, 0 100%);
  /*Uso de clip-path en contenedor figure*/
}
.contenedor-puestos .aromatizante figure:hover {
  filter: sepia(0%);
}

.contenedor-puestos .aromatizante figure img {
  width: 500px;
  height: 500px;
}

/*Section4 */
.section4 {
  margin-top: 20px;
}
.section4 h2 {
  font-size: 50px;
  color: var(--azulH3p);
  text-align: center;
  padding-bottom: 50px;
  font-family: Georgia;
}
.section4-servicios {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;

  background-image: url(imagenes/parallaxs.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -100px;
  background-attachment: fixed;
  position: relative;
  width: 100%;
}
.section4-servicios h2 {
  position: absolute;
  z-index: 3;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 30px;
  font-size: 30px;
  text-shadow: 0px 0px 5px #333;
}
/*Uso de filtro*/
.section4 .filtro {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(45, 57, 75, 0.1);
}
.section4 .section4-article-servicios {
  width: 250px;
}
.section4 .section4-article-servicios .cuadrado {
  border: 2px white solid;
  padding: 15px 20px;
  border-radius: 5px;
}
.section4 .section4-article-servicios {
  text-align: center;
}
.section4 .section4-servicios h3 {
  padding-bottom: 20px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 5px #333;
}
.section4 .section4-servicios p {
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 10px #333;
}
.section4 .section4-article-servicios .iconos {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 40px;
}
.section4 .section4-article-servicios .iconos a {
  color: var(--amarillo);
  font-size: 50px;
}
.section4 .section4-article-servicios .iconos a:hover {
  color: var(--azul);
}

/*Section5 Galeria */
.section5 {
  padding-top: 20px;
}
.section5 h2 {
  font-size: 50px;
  color: var(--azulH3p);
  text-align: center;
  padding-bottom: 20px;
  font-family: Georgia;
}
.section5 p {
  font-size: 20px;
  color: silver;
  text-align: center;
  padding-bottom: 20px;
}
#galeria {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
text-align: center;
  background-color: #f5f5f5;
}
#galeria div figure {
  align-items: center;
}

#galeria div figure img {
  width: 597px;
  height: 400px;
  object-fit: cover;
}
#galeria div figure a {
  filter: brightness(65%);
  transition: all 0.5%;
}
#galeria div figure a:hover {
  filter: brightness(100%);
}
/*Section6 Tabs acordeon */
.section6{
  margin-top: 20px;
}
.section6 h2{
  font-size: 50px;
  line-height: 40px;
  color: var(--azulH3p);
  text-align: center;
  padding-bottom: 20px;
  font-family: Georgia;
}
.section6 .section-acordeon{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section6 .questions h2{
  font-size: 35px;
  text-align: center;
  padding-bottom: 20px;
}
.section6 .section-acordeon .simbolo{
 padding-top: 5px;
  color: var(--azulH3p);
}
.section6 .section-acordeon .content-acordeon{
padding: 20px;
}
.section6 .section-acordeon .acordeon-titulo{
cursor: pointer;
max-width: 450px;
display: flex;
gap: 20px;
}
.section6 .acordeon{
margin-top: 10px;
padding-bottom: 20px;
}
.section6 .informacion {
max-width: 500px;
margin-top: 20px;
padding: 10px 35px;
display: none;
}
.section6 .informacion p{
color:#333;
}
.section6 .skills h2{
font-size: 35px;
padding-bottom: 20px;
}
.section6 .skills .content-skills{
display: flex;
flex-direction: column;
}
.section6 .article-skills {
margin-top: 30px;
width: 500px;
display: flex;
justify-content: space-between;
}
.section6 .article-skills h3{
font-weight: normal;
}
.section6 .article-skills p{
font-weight: normal;
}
.section6 .color_porcent_1 {
background-color:var(--amarillo-barra) ;
border: 1.5px var(--amarillo-barra)  solid;
height: 10px;
width: 90%;
margin-top: 5px;
}
.section6 .color_porcent_2 {
background-color: var(--azulH3p);
border: 1.5px var(--azulH3p) solid;
width: 65%;
height: 10px;
margin-top: 5px;
}
.section6 .color_porcent_3 {
background-color: var(--amarillo);
border: 1.5px var(--amarillo-barra) solid;
height: 10px;
width: 100%;
margin-top: 5px;
}

/*Section7 Carrusel*/
#slider1 {
  margin-top: 20px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.section7 .cont_flechas {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section7  .informacion {
  display: flex;
  flex-direction: column;
  height: 390px;
}
.section7  .informacion h2 {
  font-size: 50px;
  color: var(--azulH3p);
}
.section7  .informacion h3 {
  padding-top: 30px;
  color: var(--amarillo);
  font-size: 20px;
  line-height: 25px;
}
.section7  .informacion p {
  padding-top: 30px;
  font-size: 16px;
  line-height: 25px;
  color: var(--azul);
  padding-bottom: 20px;
}
.section7 .flechas {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.section7  .flechas a {
  padding: 10px 10px;
  border: 3px black solid;
}
.section7  .flechas a:hover {
  background-color: var(--amarillo);
}
.section7  .buttons {
  color: black;
  text-decoration: none;
  font-size: 30px;
}
.section7 .viewport {
  flex-grow: 1;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.section7  .overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.section7 .cards {
  box-shadow: 0px 0px 10px #ccc;
  width: 290px;
  padding-bottom: 15px;
  margin-right: 15px;
  text-align: center;
  transition: all 0.5s;
}
.section7 .cards:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.section7  .cards img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.section7  .cards h2 {
  padding: 20px;
}
.section7  .cards p {
  color: gray;
}
.section7  .cards a {
  text-decoration: none;
  color: var(--azul);
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}
.section7 .banner {
  position: relative;
  overflow: hidden;
}
.section7 .banner:hover .info {
  top: 0%;
}
.section7 .info {
  background-color: rgba(31,63,121, 0.4);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.section7 .info h3 {
  color: white;
  font-size: 20px;
}
.section7 .info p {
  font-size: 20px;
  color: white;
}
.section7 .info a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--amarillo);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Section8 Modal Hover*/

.fondoStandPrice{
  margin-top: 20px;
  margin-bottom: 20px;
  }
  .articulos {
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;
  }
  .inf-article{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background-color: var(--amarillo);
    box-shadow: 0px 0px 10px #ccc;
    transform: scale(1);
    transition: all .5s;
  }
  .inf-article:hover{
      transform: scale(1.1);
  }
  .icono-info-article{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
  }
  .info-precio{
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding: 20px;
  }
  .info-producto {
      padding: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
      font-size: small;
  }
  .btn-purchase {
      display: flex;
      justify-content: center;
  }
  .btn-purchase a {
      text-align: center;
      text-decoration: none;
      color: black;
      border: 2px black solid;
      border-radius: 2px;
      padding: 10px;
      width: 150px;
      transition: all 0.5s;
  }
  .btn-purchase a:hover {
      background-color: black;
      color: white;
  }
  .inf-article .simbolos{
      font-size: 30px;
      color: white;
  }
  .info-precio p{
      color: white;
  }
  
  .info-producto{
      color: white;
  }
  
  /*CSS MODAL*/
.rojo{
  color: red;
  font-size: 30px;
  cursor: pointer;
}
.contenidomodal{
  display: none;
  background-color: rgba(0, 0, 0, .6);
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  position: fixed;
  z-index: 10;
  overflow: auto;
  top: 0;
  left: 0;
}
.titulo{
  max-width: 670px;
  padding: 20px;
  display: flex;
  justify-content:right;

}
.estructuramodal{
  margin-left: 35%;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  color: #333;
  box-shadow: 0 0 10px #333;
  width: 300px;
}
.formulariobody{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.info p{
  padding-top: 15px;
  padding-bottom: 10px;
}
.formulariobody input{
  height: 30px;
  width: 100%;
  border: 1px rgb(151, 149, 149) solid;
}
.formulariobody #txt{
  height: 100px;
}
#submit{
  width: 80px;
  border: 1px rgb(244, 101, 98) solid;
  background: rgb(109, 69, 69) ;
  color: white;
}
#submit:hover{
  border: 1px rgb(177, 67, 65) solid;
  background: rgb(177, 67, 65) ;
}

/*Secci贸n formulario contacto*/
.formulario{
  background-image: url(imagenes/descarga.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: auto;
 width: auto;
 }
 
 .contedor_form{
     background-color: #ffffff;
     border-radius: 10px;
     width: 400px;
     height: 550px;
     margin: 50px;
     
 }
 
 .tit{
     margin-left: 50px;
    
 }
 
 form{
     margin-top: 30px;
     display: flex;
     flex-direction: column;
 }
 
 input{
     margin: 10px;
     width: 300px;
     height: 50px;
     margin-left: 50px;
 }
 
 textarea{
     margin: 10px;
     width: 300px;
     height: 150px;
     margin-left: 50px;
     resize: none;
 }
 
 .btn_amarillo{
     margin: 10px;
     width: 300px;
     height: 50px;
     margin-left: 50px;
     background-color: #FFD630;
     border: none;
     font-weight: 600;
     color: #ffffff;
 }
 
 h1{
     color: #4B1DF2;
     padding-top: 20px;
     font-size: 50px;
 }
 
 h4{
     color: #999;
 }
 
/*Footer*/
.fin {
  background-color: var(--footer);
  height: 30px;
  border: none;
}
@media screen and (max-width: 410px) {
  /*La barra de color azul*/
  .barra_header {
    display: none;
  }
  /*Informaci贸n de contacto y logos de Twitter Facebook Instagram*/
  .logo_redes {
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo_redes div {
    display: none;
  }
  .logo_redes div div {
    display: none;
  }
  /*Menu responsivo*/
  #iconomenu {
    display: block;
  }
  .contenedorcirculo {
    background-color: var(--amarillo);
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  nav .circulo {
    width: 50px;
    height: 50px;
    border: 1px silver solid;
    border-radius: 50%;
    text-decoration: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .circulo:hover {
    background-color: silver;
  }
  .contenedormenu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contenedormenu li {
    width: 100%;
  }
  .contenedormenu a {
    display: block;
    width: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 2px var(--azul);
  }
  #menu {
    display: none;
  }
  #visible {
    display: flex;
    justify-content: center;
  }
  #novisible {
    display: none;
  }
  .logovisible2 {
    width: 50%;
  }
  .logo {
    width: 100px;
  }
  /*Section1-slider*/
  .section1-slider {
    padding-top: 0px;
  }
  /*Section3 Grid*/
  .contenedor-puestos {
    grid-template: repeat(2, auto) / auto;
    grid-template-areas: "aromatizante" "informacion-puestos";
  }
  .contenedor-puestos .informacion-puestos {
    padding: 20px;
  }

  .contenedor-puestos .aromatizante figure {
    text-align: center;
  }
  .contenedor-puestos .aromatizante figure img {
    width: 350px;
    height: 350px;
  }
  .contenedor-puestos p {
    margin-left: 0px;
  }
  .contenedor-puestos h3 {
    margin-left: 0px;
  }
  .informacion-puestos div {
    margin-left: 0px;
    width: 350px;
    height: 65px;
  }

  /*Section4 servicios */
  .section4-servicios {
    width: 350px;
    background-position: 0px -10px;
    height: 1240px;
  }
  .section4-servicios h2 {
    display: none;
  }
  .section4 h2 {
    font-size: 30px;
  }
  /*Section5 Galeria */
  .section5 {
    padding-top: 20px;
  }
  .section5 h2 {
    font-size: 30px;
    color: var(--azulH3p);
  }
  .section5 p {
    font-size: 20px;
    color: var(--azul);
  }
  #galeria div figure img {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
    /*Section6 Tabs acordeon */
  .section6 h2{
    font-size: 30px;
    
  }
  .section6 .section-acordeon{
    justify-content: center;
    align-items: center;
  }
  .section6 .informacion {
    max-width: 350px;
    }
    .section6 .article-skills {
      width: 350px;
      }
      /*Section7 Carrusel */
      #slider1 {
        margin-top: 0px;
        height: 700px;
      }
    .informacion {
    height: 300px;
  }
  #slider1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .viewport {
    width: 100%;
  }
  .cont_flechas {
    padding-bottom: 15px;
  }
  .cards {
    width: 300px;
    margin-right: 30px;
  }
  .section7  .informacion h2 {
    font-size: 30px;
    text-align: center;
  }
  /*Section8 Modal Hover*/
  .estructuramodal{
    margin-top: 30%;
    margin-left: 12%;

  }

  /*Secci贸n formulario de contacto*/
  .ancho{
    width: 380px;

}



.contedor_form{
    background-color: #ffffff;
    border-radius: 10px;
    width: 350px;
    height: 550px;
    margin: 20px;
    
}


.tit{
margin-left: 25px;

}

input{
    margin: 10px;
    width: 200px;
    height: 50px;
    margin-left: 25px;
}

textarea{
    margin: 10px;
    width: 200px;
    height: 75px;
    margin-left: 25px;
    resize: none;
}

.btn_amarillo{
    margin: 10px;
    width: 150px;
    height: 50px;
    margin-left: 50px;
  
}

h1{

    padding-top: 20px;
    font-size: 30px;
}

h4{
 font-size: 15px;
}

}



/*Efecto scroll de regreso*/
#scrollUp {
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-image: url(arrow-circle-up-solid.svg);
  background-size: cover;
  filter: invert(10%) sepia(70%) saturate(7500%) hue-rotate(355deg);
}
